@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* LIGHT THEME */
body {
    --COLOR-primary: #FFFFFF;
    --COLOR-utils: #e4e4e4;
    --COLOR-secondary: #586F7C;
    --COLOR-accent: #04E824;
    --COLOR-text: rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    color: var(--COLOR-text);
}

/* DARK THEME */
body.dark-theme {
    --COLOR-primary: #312F2F !important;
    --COLOR-utils: #3b3939 !important;
    --COLOR-secondary: #5b6069 !important;
    --COLOR-accent: #04E824 !important;
    --COLOR-text: rgb(255, 255, 255);

    color: var(--COLOR-text);
}

/*=== MAIN HEADER ===*/
#main-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background: var(--COLOR-utils);
}

#main-header h1 {
    margin-left: auto;
}

#main-header .fa-bars {
    margin-left: auto;
    font-size: 32px;
    visibility: hidden;
}

/*=== APP ===*/
.app {
    background: blue;
    height: 100%;

    display: flex;
}

/* NAVBAR */
.app .navbar {
    background: var(--COLOR-secondary);
    min-width: 300px;
    max-width: 300px;
    font-size: 20px;
    /* height: 100%; */
}

.navbar .upper-part ul {
    margin-left: 18px;
    margin-top: 24px;

}

.navbar .upper-part ul li {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}



/* DISPLAY */
.app .display {
    background: var(--COLOR-primary);
    height: 100%;
    width: 100%;
}

/*=== FOOTER ===*/
#main-footer {
    background: var(--COLOR-utils);
    height: 50px;
}




/*=== MEDIA QUERIES ===*/
/* Small screen */
@media only screen and (max-width: 800px) {

    /*=== HEADER ===*/
    #main-header .fa-bars {
        visibility: visible;
        cursor: pointer;
    }

    /*=== APP ===*/
    .app {
        flex-direction: column;
    }

    .app .navbar {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        opacity: 0.9;
    }
}