@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

html,
body {
    height: 100%;
    width: 100%;
}

/* LIGHT THEME */
body {
    --COLOR-primary: #FFFFFF;
    --COLOR-utils: #e4e4e4;
    --COLOR-secondary: #586F7C;
    --COLOR-accent: #04E824;
    --COLOR-text: rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    color: var(--COLOR-text);
}

/* DARK THEME */
body.dark-theme {
    --COLOR-primary: #312F2F !important;
    --COLOR-utils: #3b3939 !important;
    --COLOR-secondary: #5b6069 !important;
    --COLOR-accent: #04E824 !important;
    --COLOR-text: rgb(255, 255, 255);

    color: var(--COLOR-text);
}

/*=== MAIN HEADER ===*/
#main-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background: var(--COLOR-utils);
}

#main-header h1 {
    margin-left: auto;
}

#main-header .fa-bars {
    margin-left: auto;
    font-size: 32px;
    visibility: hidden;
}

/*=== APP ===*/
.app {
    /* height: 100%; */
    display: flex;
}

/* NAVBAR */
.app .navbar {
    background: var(--COLOR-secondary);
    min-width: 300px;
    max-width: 300px;
    font-size: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 100;
    opacity: 1;
}

.navbar .upper-part ul {
    margin-left: 18px;
    margin-top: 24px;

}

.navbar .upper-part ul li {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}



/* DISPLAY */
.app .display {
    background: var(--COLOR-primary);
    height: 100%;
    width: 100%;
    display: relative;
}


/* Project Display */
.display .project-container {
    width: 80%;
    /* height: 200px; */
    border: 1px solid red;
    margin-top: 36px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.project-buttons {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    gap: 12px;
}

.project-buttons button {
    height: 48px;
    width: 48px;
    font-size: 24px;
    color: var(--COLOR-text);
}

.project-container .title {
    text-align: center;
}

.project-container .todos {
    width: 100%;
}


.project-container .todos .project-todo {
    border: 1px solid black;
    padding: 12px 42px;
    margin-top: -1px;
    /* list-style-type: none; */
    list-style-position: inside;
    word-wrap: break-word;
    position: relative;
}

.project-todo .fa-check {
    position: absolute;
    left: 12px;
    top: 10px;
    font-size: 24px;
    visibility: hidden;
}

.project-todo .fa-xmark {
    position: absolute;
    right: 12px;
    top: 10px;
    visibility: hidden;
    font-size: 24px;
}

.project-todo:hover i {
    visibility: visible;
    cursor: pointer;
}

.todos .project-todo:nth-child(2n) {
    background: #e7e7e7;
}

.todo-completed {
    text-decoration: line-through;
    background: rgba(0, 255, 0, 0.2) !important;
}

/* Project utils (buttons) */
.project-utils-btns {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 12px;
    right: 24px;
    top: 50%;
}

.project-utils-btns button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}


/*=== FOOTER ===*/
#main-footer {
    background: var(--COLOR-utils);
    height: 50px;
    padding: 12px 24px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

#main-footer .fa-github {
    font-size: 22px;
    transition: transform 300ms ease-in-out;
}

#main-footer .fa-github:hover {
    transform: rotate(360deg) scale(1.2);

}


/* UTILITIES */
.hidden {
    visibility: hidden;
}


/*=== MEDIA QUERIES ===*/
/* Small screen */
@media only screen and (max-width: 800px) {

    /*=== HEADER ===*/
    #main-header .fa-bars {
        visibility: visible;
        cursor: pointer;
    }

    /*=== APP ===*/
    .app {
        flex-direction: column;
    }

    .app .navbar {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        /* opacity: 0.9; */
    }
}